.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.sort button {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  border: none;
  background: none;
  line-height: 22px;
  font-size: 16px;
}

.sort button:not(.active) {
    display: block;
}

.sortIcon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--primary)
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}